<div class="input">
  <div class="sub-input" [class.valid]="isValid">
    <svg-icon class="tiny_icon" [applyCss]="true" [src]="src"></svg-icon>
    <ng-content></ng-content>
    <svg-icon class="tiny_icon" [class]="isValid ? 'show': 'hidden'" [applyCss]="true" src="assets/svgs/check.svg">
    </svg-icon>
    <svg-icon class="tiny_icon cancel" [class]="isInValid ? 'show': 'hidden'" [applyCss]="true"
      src="assets/svgs/cancel.svg">
    </svg-icon>
  </div>
  <p [class]="isInValid ? 'show': 'hidden'" class="error">
    {{errorMsg}}
  </p>
</div>