:host {
    width: 100%;
}
input {
    flex: 1 1 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--font-white);
    padding: 0 5px;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--font-white);
        transition: background-color 5000s ease-in-out 0s;
    }
}

#signup {
    padding: 1rem 5vw;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 10rem;
    @media screen and (max-width: 500px) {
        min-width: 300px;
    }

    h2 {
        color: var(--yellow);
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }
    form {
        button[type='submit'] {
            background-color: var(--btn-bg);
            color: var(--btn-font);
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 500;
            padding: 10px 2rem;
            float: right;
        }
    }
}
