#dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 1rem;
}

#dash-wrapper {
    padding: 10vw;
    app-input {
        textarea {
            width: 100%;
            border: none;
            background: transparent;
            font-weight: 600;
            font-size: 1rem;
            resize: none;
            height: 40px;
            outline: none;
        }
    }
}

.custom-input {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
    #gray-span {
        color: var(--font-grey);
    }
    input {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        outline: none;
        color: var(--yellow);
        @media screen and (max-width: 500px) {
            font-size: 1rem;
        }
    }
    button {
        background-color: var(--btn-bg);
        color: var(--btn-font);
        padding: 6px 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        margin-left: 10px;
        float: right;
        outline: none;

        &:hover {
            opacity: 0.8;
        }
    }
    svg-icon.copy {
        margin-right: 10px;
        width: 1.5rem;
        height: auto;
    }
    svg-icon.state {
        &.cancel > svg {
            width: 10px;
        }
        &.hidden {
            display: none;
        }
        &.show {
            display: block;
        }
        & > svg {
            width: 1rem;
        }
    }
}
form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;

    h2 {
        margin-bottom: 1rem;
        font-size: 2.3rem;
        font-weight: 500;
    }
}

#created-links {
    text-align: center;
    margin-top: 4rem;
    h2 {
        margin-bottom: 1rem;
    }
}
