<!-- <p>home works!</p>
<a routerLink="/signup" routerLinkActive="active">Signup</a>
<a routerLink="/login" routerLinkActive="active">Login</a> -->
<div id="home">
    <!-- <svg-icon id="moon_man" src="assets/svgs/moon_man.svg" [applyCss]="true"></svg-icon> -->
    <div id="presentation">
        <div id="main">
            <h1>Free</h1>
            <h1>Track Clicks</h1>
            <h1>Shorten URLs</h1>
            <h1>Share Everywhere</h1>
            <a routerLink="/signup">Create Account to track your links!</a>
        </div>
        <div id="more">
            <p>
                Ever wanted to generate shortened links out of your pockets,
                without thinking about it? Then Shotter will be well suited for
                you. Shotter provides both web app and native mobile
                application, so you can be productive with any device
            </p>
            <svg-icon src="assets/svgs/play.svg" [applyCss]="true"></svg-icon>
        </div>
    </div>
</div>
